.App {
  text-align: center;
}

.App-logo {
}

body {
  background-repeat: no-repeat;
  height: 100vh;
}

.uppercase {
  text-transform: uppercase;
}

.completedList {
  background-color: #66c566;
  margin: 19px auto;
  box-shadow: 5px 5px 5px black;
  color: #fff;
}

.inputEdit {
  width: 100px;
  background-color: black;
}

@media only screen and (min-width: 320px) {
  .App-header {
    margin-top: 20vh;
    min-height: 400px;
  }
  .incompleted-title {
    margin-bottom: 69px;
  }

  form {
    margin-bottom: 30px;
  }
  .li-text {
    width: 228px;
    display: inline-block;
    word-wrap: break-word;
  }

  li {
    text-transform: uppercase;
    padding: 10px;
    margin: 15px;
    list-style: none;
  }
  hr {
    border-top: 1px solid rgb(39, 39, 41) !important;
  }
  .select {
    width: 84%;
    margin: 20px;
  }

  .btn-style {
    margin-left: 23px !important;
  }

  .completedbox {
    margin-top: 15px;
    padding: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .select {
    width: 37%;
  }

  .label {
  }
}
@media only screen and (min-width: 1020px) {
  .completedList {
    width: 51%;
    margin: 15px auto;
    box-shadow: 5px 5px 5px black;
  }
  .select {
    width: 20%;
  }

  .li-text {
    width: 313px;
    display: inline-block;
    word-wrap: break-word;
  }
}
